In [2]:
import pandas as pd
import numpy as np

In [4]:
billboard_data1= pd.DataFrame(columns=['Title', 'Artist', 'Year'])

In [5]:
years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,2014, 2015, 2016, 2017, 2018]
url_template = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_'

In [15]:
url = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2000'
temp_df = pd.read_html(url, header=0)[0]

In [16]:
temp_df.head()

   No.                  Title                          Artist(s)
0    1              "Breathe"                         Faith Hill
1    2               "Smooth"       Santana featuring Rob Thomas
2    3          "Maria Maria"  Santana featuring The Product G&B
3    4         "I Wanna Know"                                Joe
4    5  "Everything You Want"                   Vertical Horizon

In [18]:
for year in years:
    url = url_template + str(year)
    temp_df = pd.read_html(url, header=0)[0]
    temp_df.columns.values[2] = "Artist"
    temp_df = temp_df.drop(temp_df.columns[0], axis=1)
    temp_df['Artist']=temp_df['Artist'].astype(str)
    temp_df.Artist = [artist.split(' featuring')[0] for artist in temp_df.Artist]
    temp_df.Title = [title.strip('\"') for title in temp_df.Title]
    temp_df['Year'] = year
    billboard_data1 = billboard_data1.append(temp_df)

In [24]:
billboard_data1.head()

                 Title            Artist  Year
0              Breathe        Faith Hill  2000
1               Smooth           Santana  2000
2          Maria Maria           Santana  2000
3         I Wanna Know               Joe  2000
4  Everything You Want  Vertical Horizon  2000

In [23]:
billboard_data1 = billboard_data1.reset_index(drop=True)
billboard_data1['Year'] = pd.to_numeric(billboard_data1['Year'])
billboard_data1['Title'] = billboard_data1['Title'].astype(str)
billboard_data1['Artist'] = billboard_data1['Artist'].astype(str)

In [26]:
billboard_data1.to_csv('C:\\Users\\DELL\\Desktop\\minor-project\\billboard_data1.csv')

In [64]:
billboard_data1=pd.read_csv('C:\\Users\\DELL\\Desktop\\minor-project\\data-files\\billboard_data1.csv',index_col=0)
billboard_data1=billboard_data1.drop('Year',axis=1)
billboard_data1 = billboard_data1.drop_duplicates(subset="Title", keep="first")

In [65]:
#Data integration
spotify_songs = pd.read_csv('C:\\Users\\DELL\\Desktop\\minor-project\\data-files\\song_info.csv')

In [66]:
spotify_songs.head()

,song_name,artist_name,album_names,playlist
0,Boulevard of Broken Dreams,Green Day,Greatest Hits: God's Favorite Band,00s Rock Anthems
1,In The End,Linkin Park,Hybrid Theory,00s Rock Anthems
2,Seven Nation Army,The White Stripes,Elephant,00s Rock Anthems
3,By The Way,Red Hot Chili Peppers,By The Way (Deluxe Version),00s Rock Anthems
4,How You Remind Me,Nickelback,Silver Side Up,00s Rock Anthems

In [67]:
spotify_songs = spotify_songs.drop(['album_names','playlist'], axis=1)

In [68]:
spotify_songs.head()

                    song_name            artist_name
0  Boulevard of Broken Dreams              Green Day
1                  In The End            Linkin Park
2           Seven Nation Army      The White Stripes
3                  By The Way  Red Hot Chili Peppers
4           How You Remind Me             Nickelback

In [69]:
spotify_songs.columns.values

array(['song_name', 'artist_name'], dtype=object)

In [70]:
spotify_songs = spotify_songs.rename(columns={"song_name": "Title", "artist_name": "Artist"})

In [71]:
spotify_songs.head()

                        Title                 Artist
0  Boulevard of Broken Dreams              Green Day
1                  In The End            Linkin Park
2           Seven Nation Army      The White Stripes
3                  By The Way  Red Hot Chili Peppers
4           How You Remind Me             Nickelback

In [72]:
spotify_songs = spotify_songs.drop_duplicates(subset="Title", keep="first")

In [73]:
spotify_songs['Top100'] = 0
billboard_data1['Top100'] = 1

In [74]:
combined_df = pd.concat([spotify_songs, billboard_data1], ignore_index=True, sort=True)

In [75]:
combined_df = combined_df.drop_duplicates(subset="Title", keep="last")

In [76]:
combined_df.head()

                  Artist              Title  Top100
1            Linkin Park         In The End       0
2      The White Stripes  Seven Nation Army       0
3  Red Hot Chili Peppers         By The Way       0
5            Evanescence   Bring Me To Life       0
6             Papa Roach        Last Resort       0

In [77]:
combined_df.tail()

             Artist            Title  Top100
14565  Daddy Yankee             Dura       1
14566  XXXTentacion          Changes       1
14567    Luke Combs  One Number Away       1
14568  Rae Sremmurd       Powerglide       1
14569      Dua Lipa            IDGAF       1

In [78]:
billboard_data1.head()

                 Title            Artist  Top100
0              Breathe        Faith Hill       1
1               Smooth           Santana       1
2          Maria Maria           Santana       1
3         I Wanna Know               Joe       1
4  Everything You Want  Vertical Horizon       1

In [80]:
combined_df.to_csv('C:\\Users\\DELL\\Desktop\\minor-project\\data-files\\songs-list.csv')

In [81]:
#Getting songs uris
combined_df.shape

(13993, 3)

In [1]:
import spotipy
import spotipy.util as util
from tqdm import tqdm_notebook

In [105]:
def get_spotify_uri(title, artist):
    query = title + " " + artist
    search = sp.search(q=query, limit=50, offset=0, type='track', market='US')
    search_items = search['tracks']['items']
    for i in range(len(search_items)):
            uri = search_items[i]['id']
            return uri
    return 0

In [106]:
token = util.oauth2.SpotifyClientCredentials(client_id='b7fc404a069d4a0f83049834a7d09a25', client_secret='990a5a3792e9469fac00c288ec610d7d')
cache_token = token.get_access_token()
spotify = spotipy.Spotify(cache_token)
sp = spotipy.Spotify(auth=cache_token)

In [112]:
titles = list(combined_df.Title)
artists = list(combined_df.Artist)
top100 = list(combined_df.Top100)
spotify_uri = list()
errors = list()

In [114]:
temp1 = list()

In [115]:
for i in tqdm_notebook(range(0,13993)):
    uri = get_spotify_uri(titles[i], artists[i])
    
    if uri != 0:
        temp1.append(uri)
    else:
        temp1.append(uri)
        errors.append(i)
spotify_uri = spotify_uri + temp1

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  if __name__ == '__main__':

In [123]:
len(spotify_uri)

13993

In [124]:
songs_with_id = pd.DataFrame()

In [126]:
songs_with_id['Title'] = titles;
songs_with_id['Artist'] = artists;
songs_with_id['Top100'] = top100;
songs_with_id['URI'] = spotify_uri;
songs_with_id=songs_with_id[songs_with_id.URI!=0]

In [127]:
songs_with_id.head()

               Title                 Artist  Top100                     URI
0         In The End            Linkin Park       0  7KSjlzDJvwAG0utAYE9Vvg
1  Seven Nation Army      The White Stripes       0  7i6r9KotUPQg3ozKKgEPIN
2         By The Way  Red Hot Chili Peppers       0  3ZOEytgrvLwQaqXreDs2Jx
3   Bring Me To Life            Evanescence       0  0COqiPhxzoWICwFCS4eZcp
4        Last Resort             Papa Roach       0  5W8YXBz9MTIDyrpYaCg2Ky

In [128]:
songs_with_id.tail()

                 Title        Artist  Top100                     URI
13988             Dura  Daddy Yankee       1  6KuqAtoeVzxAYOaMveLNpH
13989          Changes  XXXTentacion       1  7AFASza1mXqntmGtbxXprO
13990  One Number Away    Luke Combs       1  4gB7HrYHbJVJ5RFOjxmoq4
13991       Powerglide  Rae Sremmurd       1  1BuZAIO8WZpavWVbbq3Lci
13992            IDGAF      Dua Lipa       1  1f7HfxcJ151yN485mZhhWn

In [131]:
songs_with_id.shape

(13507, 4)

In [133]:
songs_with_id.reset_index(drop=True,inplace=True)

In [134]:
songs_with_id.tail()

                 Title        Artist  Top100                     URI
13502             Dura  Daddy Yankee       1  6KuqAtoeVzxAYOaMveLNpH
13503          Changes  XXXTentacion       1  7AFASza1mXqntmGtbxXprO
13504  One Number Away    Luke Combs       1  4gB7HrYHbJVJ5RFOjxmoq4
13505       Powerglide  Rae Sremmurd       1  1BuZAIO8WZpavWVbbq3Lci
13506            IDGAF      Dua Lipa       1  1f7HfxcJ151yN485mZhhWn

In [135]:
songs_with_id.to_csv('C:\\Users\\DELL\\Desktop\\minor-project\\data-files\\songs-with-id.csv')

In [136]:
#Getting song features
uris = list(songs_with_id.URI)
danceability_list = list()
energy_list = list()
key_list = list()
loudness_list = list()
mode_list = list()
speechiness_list = list()
acousticness_list = list()
instrumentalness_list = list()
liveness_list = list()
valence_list = list()
tempo_list = list()
duration_list = list()
time_signature_list= list()

In [137]:
def get_audio_features(uri):
    search = sp.audio_features(uri)
    if search[0] == None:
        danceability_list.append(np.nan)
        energy_list.append(np.nan)
        key_list.append(np.nan)
        loudness_list.append(np.nan)
        mode_list.append(np.nan)
        speechiness_list.append(np.nan)
        acousticness_list.append(np.nan)
        instrumentalness_list.append(np.nan)
        liveness_list.append(np.nan)
        valence_list.append(np.nan)
        tempo_list.append(np.nan)
        duration_list.append(np.nan)
        time_signature_list.append(np.nan) 
        return ('Error on: ' + str(uri))
    
    search_list = search[0]
    
    danceability_list.append(search_list['danceability'])
    energy_list.append(search_list['energy'])
    key_list.append(search_list['key'])
    loudness_list.append(search_list['loudness'])
    mode_list.append(search_list['mode'])
    speechiness_list.append(search_list['speechiness'])
    acousticness_list.append(search_list['acousticness'])
    instrumentalness_list.append(search_list['instrumentalness'])
    liveness_list.append(search_list['liveness'])
    valence_list.append(search_list['valence'])
    tempo_list.append(search_list['tempo'])
    duration_list.append(search_list['duration_ms'])
    time_signature_list.append(search_list['time_signature'])

In [139]:
token = util.oauth2.SpotifyClientCredentials(client_id='b7fc404a069d4a0f83049834a7d09a25', client_secret='990a5a3792e9469fac00c288ec610d7d')
cache_token = token.get_access_token()
spotify = spotipy.Spotify(cache_token)
sp = spotipy.Spotify(auth=cache_token)

In [140]:
for i in tqdm_notebook(range(len(uris))):
    get_audio_features(uris[i])

C:\Users\DELL\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  if __name__ == '__main__':

In [141]:
songs_with_id['Danceability'] = danceability_list
songs_with_id['Energy'] = energy_list
songs_with_id['Key'] = key_list
songs_with_id['Loudness'] = loudness_list
songs_with_id['Mode'] = mode_list
songs_with_id['Speechiness'] = speechiness_list
songs_with_id['Acousticness'] = acousticness_list
songs_with_id['Instrumentalness'] = instrumentalness_list
songs_with_id['Liveness'] = liveness_list
songs_with_id['Valence'] = valence_list
songs_with_id['Tempo'] = tempo_list
songs_with_id['Duration'] = duration_list
songs_with_id['Time_Signature'] = time_signature_list

In [142]:
songs_with_id.dropna()

,Title,Artist,Top100,URI,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration,Time_Signature
0,In The End,Linkin Park,0,7KSjlzDJvwAG0utAYE9Vvg,0.476,0.632,9,-6.217,0,0.0376,0.165000,0.337000,0.1110,0.1320,107.961,184787,4
1,Seven Nation Army,The White Stripes,0,7i6r9KotUPQg3ozKKgEPIN,0.737,0.463,0,-7.828,1,0.0792,0.008170,0.447000,0.2550,0.3240,123.881,231733,4
2,By The Way,Red Hot Chili Peppers,0,3ZOEytgrvLwQaqXreDs2Jx,0.618,0.938,9,-3.442,1,0.0456,0.017900,0.000000,0.1670,0.8750,91.455,269000,4
3,Bring Me To Life,Evanescence,0,0COqiPhxzoWICwFCS4eZcp,0.331,0.943,4,-3.188,0,0.0698,0.007210,0.000002,0.2420,0.2960,94.612,235893,4
4,Last Resort,Papa Roach,0,5W8YXBz9MTIDyrpYaCg2Ky,0.589,0.890,4,-3.719,0,0.0603,0.000481,0.000820,0.2010,0.6920,90.598,199907,4
5,Sex on Fire,Kings of Leon,0,0ntQJM78wzOLVeCUAW7Y45,0.542,0.905,9,-5.653,1,0.0540,0.001720,0.010400,0.1360,0.3740,153.398,203347,4
6,Smooth Criminal,Alien Ant Farm,0,5z6xHjCZr7a7AIcy8sPBKy,0.653,0.964,9,-4.261,0,0.0582,0.003160,0.005120,0.1440,0.8700,126.928,209267,4
7,Can't Stop,Red Hot Chili Peppers,0,3ZOEytgrvLwQaqXreDs2Jx,0.618,0.938,9,-3.442,1,0.0456,0.017900,0.000000,0.1670,0.8750,91.455,269000,4
8,Chop Suey!,System Of A Down,0,2DlHlPMa4M17kufBvI2lEN,0.419,0.934,7,-3.908,0,0.1200,0.000278,0.001500,0.1320,0.2860,127.288,210240,4
9,Take Me Out,Franz Ferdinand,0,6ooluO7DiEhI1zmK94nRCM,0.278,0.676,9,-8.821,1,0.0371,0.000423,0.000899,0.1360,0.4940,104.545,237027,4
10,I Miss You,blink-182,0,1oTo3ijRbaDAtrjJrGAPSw,0.664,0.781,11,-6.547,1,0.0339,0.001030,0.000005,0.0867,0.5930,110.000,227240,4
11,The Kill (Bury Me),Thirty Seconds To Mars,0,232FvPwx9QqPtvob5aSDKv,0.303,0.926,4,-3.945,0,0.0695,0.001150,0.002350,0.2750,0.2720,182.915,233427,3
12,No One Knows,Queens of the Stone Age,0,6NvRxjfYkkT2SpirAlmsjH,0.511,0.581,0,-4.930,1,0.0581,0.031000,0.000171,0.3670,0.6680,170.852,278707,4
13,Jerk It Out,Caesars,0,5XMjXjwCkJVmk0AHm7z8IV,0.580,0.981,8,-2.603,0,0.0600,0.017100,0.000011,0.3860,0.8610,134.007,195667,4
14,Uprising,Muse,0,4VqPOruhp5EdPBeR92t6lQ,0.602,0.905,2,-4.046,1,0.0775,0.000202,0.064000,0.1170,0.4110,128.019,304840,4
15,American Idiot,Green Day,0,6nTiIhLmQ3FWhvrGafw2zj,0.380,0.988,1,-2.042,1,0.0639,0.000026,0.000079,0.3680,0.7690,186.113,176346,4
16,All My Life,Foo Fighters,0,6tsojOQ5wHaIjKqIryLZK6,0.580,0.604,5,-5.703,1,0.0470,0.000218,0.000579,0.4770,0.6450,167.784,263440,4
17,I Hate Everything About You,Three Days Grace,0,6rUp7v3l8yC4TKxAAR5Bmx,0.498,0.830,6,-5.157,0,0.0421,0.004610,0.000000,0.1390,0.4530,89.342,231480,4
18,Rollin' (Air Raid Vehicle),Limp Bizkit,0,3IV4swNduIRunHREK80owz,0.603,0.933,1,-3.358,1,0.1710,0.005910,0.000000,0.2060,0.7090,96.306,213760,4
19,Fat Lip,Sum 41,0,4KacUpvbA3Mfo05gttTjhN,0.402,0.914,9,-5.215,1,0.1420,0.000579,0.000000,0.0650,0.6260,196.505,178267,4
20,The Pretender,Foo Fighters,0,7x8dCjCr0x6x2lXKujYD34,0.433,0.959,9,-4.040,1,0.0431,0.000917,0.000000,0.0280,0.3650,172.984,269373,4
21,Savior,Rise Against,0,3asFGFY3uLjMDmML1p0tYm,0.339,0.931,5,-3.425,0,0.0620,0.001500,0.000142,0.4250,0.4670,112.548,242280,4
22,Bodies,Drowning Pool,0,7CpbhqKUedOIrcvc94p60Y,0.659,0.930,4,-3.410,0,0.0783,0.003640,0.001240,0.1490,0.5340,130.940,201960,4
23,Last Nite,The Strokes,0,3SUusuA9jH1v6PVwtYMbdv,0.624,0.899,0,-5.710,1,0.0295,0.022300,0.000155,0.0975,0.7970,104.055,193373,4
24,Through Glass,Stone Sour,0,5NeIONQWJ25uPylJBJiO4c,0.545,0.753,3,-4.618,0,0.0360,0.041700,0.000000,0.3890,0.4340,105.754,282947,4
25,The Diary of Jane - Single Version,Breaking Benjamin,0,0faXHILILebCGnJBPU6KJJ,0.392,0.964,10,-4.441,0,0.0644,0.000071,0.038700,0.1060,0.2690,167.024,200547,4
26,Down With the Sickness,Disturbed,0,40rvBMQizxkIqnjPdEWY1v,0.695,0.876,3,-4.262,0,0.0553,0.000996,0.000007,0.1060,0.9410,89.954,279213,4
27,Wish You Were Here,Incubus,0,6KtLECDztnah63TNmV4Plw,0.246,0.768,9,-7.480,1,0.0387,0.000631,0.301000,0.1020,0.3500,169.873,212733,4
28,Youth Of The Nation,P.O.D.,0,0UrWr7Jnu1heq1o99ZwUd0,0.563,0.860,8,-7.533,1,0.0621,0.008340,0.010600,0.3900,0.5170,97.867,256240,4
29,Vertigo,U2,0,57ZXcBtCZXSg9TVV5xRdnR,0.416,0.819,9,-3.974,1,0.0613,0.000138,0.001080,0.1220,0.6320,140.083,194520,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13477,Bartier Cardi,Cardi B,1,0dIoGTQXDh1wVnhIiSyYEa,0.908,0.524,1,-7.955,1,0.1810,0.001110,0.000678,0.3830,0.1090,138.015,224285,4
13478,God Is a Woman,Ariana Grande,1,5OCJzvD7sykQEKHH7qAC3C,0.602,0.658,1,-5.934,1,0.0558,0.023300,0.000060,0.2370,0.2680,145.031,197547,4
13479,Big Bank,YG,1,0ZNrc4kNeQYD9koZ3KvCsy,0.745,0.346,1,-7.709,1,0.3310,0.005520,0.000000,0.0881,0.1120,203.911,237240,4
13480,How Long,Charlie Puth,1,2NCeLd58DsDnmnjculLJbX,0.679,0.516,1,-7.192,0,0.0531,0.041700,0.000000,0.1570,0.2900,95.029,156632,4
13481,Lights Down Low,Max,1,5A6BJLZArq1MPjsnmcuk5f,0.623,0.493,5,-7.727,0,0.0338,0.063200,0.000000,0.1040,0.5940,81.019,223847,4
13482,One Kiss,Calvin Harris and Dua Lipa,1,7ef4DlsgrMEH11cDZd32M6,0.791,0.862,9,-3.240,0,0.1100,0.037000,0.000022,0.0814,0.5920,123.994,214847,4
13483,Natural,Imagine Dragons,1,2FY7b99s15jUprqC0M5NCT,0.704,0.611,2,-6.112,1,0.0409,0.217000,0.000000,0.0812,0.2200,100.000,189467,4
13484,You Make It Easy,Jason Aldean,1,6EGAfJaLUFzhS4zRBIEQ2J,0.375,0.574,7,-5.305,1,0.0315,0.143000,0.000000,0.1100,0.4060,132.025,196800,3
13485,No Brainer,DJ Khaled,1,5WvAo7DNuPRmk4APhdPzi8,0.552,0.760,0,-4.706,1,0.3420,0.073300,0.000000,0.0865,0.6390,135.702,260000,5
13486,Plain Jane,ASAP Ferg,1,4dVpf9jZjcORqGTLUaeYj9,0.797,0.844,11,-5.482,1,0.2750,0.065100,0.000000,0.0870,0.5200,170.142,173600,4
13487,Sky Walker,Miguel,1,5WoaF1B5XIEnWfmb5NZikf,0.674,0.506,6,-10.532,1,0.0434,0.173000,0.000000,0.0866,0.1830,145.965,259333,4
13488,Marry Me,Thomas Rhett,1,0OWZFobGSIW9GrSlQ9C5pc,0.333,0.412,3,-8.633,1,0.0290,0.097700,0.000000,0.1130,0.4740,85.028,205453,4
13489,Eastside,"Benny Blanco, Halsey and Khalid",1,0d2iYfpKoM0QCKvcLCkBao,0.560,0.680,6,-7.648,0,0.3210,0.555000,0.000000,0.1160,0.3190,89.391,173800,4
13490,Call Out My Name,The Weeknd,1,09mEdoA6zrmBPgTEN5qXmN,0.461,0.593,1,-4.954,1,0.0356,0.170000,0.000000,0.3070,0.1750,134.170,228373,3
13491,King's Dead,"Jay Rock, Kendrick Lamar, Future and James Blake",1,51rXHuKN8Loc4sUlKPODgH,0.645,0.705,1,-5.008,1,0.2990,0.000813,0.000000,0.1280,0.3760,137.133,229670,4
13492,Happier,Marshmello and Bastille,1,5V6ZwMW58YZdDvmUmpy7KE,0.659,0.567,5,-9.248,1,0.0363,0.203000,0.925000,0.1210,0.1390,100.323,214924,4
13493,Te Boté,"Nio García, Darell and Casper Mágico",1,6c8pomhtYcKB20M4KuAzCH,0.748,0.767,11,-7.021,0,0.0416,0.025300,0.016400,0.1220,0.3150,110.007,230045,4
13494,Simple,Florida Georgia Line,1,4L9Ds4mpD3SuYoWwFUlv16,0.362,0.882,3,-3.717,1,0.0973,0.079100,0.000000,0.1500,0.8640,199.811,185200,4
13495,Lemon,N.E.R.D and Rihanna,1,739vCwA3EpBSkk3uDsI2wB,0.777,0.657,1,-6.434,1,0.2370,0.000738,0.000003,0.0932,0.2450,189.992,226107,4
13496,I'm Upset,Drake,1,3qN5qMTKyEEmiTZD38BNTT,0.899,0.586,11,-7.866,0,0.3440,0.279000,0.000000,0.0836,0.4920,150.001,214467,4
13497,Get Along,Kenny Chesney,1,6n6OQfBpCgzF9oEg8zhBN7,0.632,0.804,7,-6.109,1,0.0503,0.101000,0.000000,0.1700,0.3500,92.456,199625,4
13498,Moonlight,XXXTentacion,1,0JP9xo3adEtGSdUEISiszL,0.921,0.537,9,-5.723,0,0.0804,0.556000,0.004040,0.1020,0.7110,128.009,135090,4
13499,X,Nicky Jam and J Balvin,1,4UR6d4VIVSqYblOYNaxZTU,0.660,0.417,9,-8.750,0,0.1030,0.037400,0.835000,0.3440,0.7090,179.996,172826,4
13500,Outside Today,YoungBoy Never Broke Again,1,3sA7HKGzcKTVscdiTCrWpX,0.851,0.666,11,-5.334,0,0.0694,0.139000,0.000000,0.1050,0.0585,134.068,129105,4
13501,Trip,Ella Mai,1,6CTWathupIiDs7U4InHnDA,0.477,0.610,11,-5.628,0,0.1440,0.225000,0.000000,0.1070,0.3580,79.882,213993,4
13502,Dura,Daddy Yankee,1,6KuqAtoeVzxAYOaMveLNpH,0.783,0.840,1,-3.416,1,0.0510,0.174000,0.000000,0.4120,0.8390,95.001,200480,4
13503,Changes,XXXTentacion,1,7AFASza1mXqntmGtbxXprO,0.669,0.308,11,-10.068,1,0.0290,0.883000,0.000000,0.0984,0.5200,64.934,121887,4
13504,One Number Away,Luke Combs,1,4gB7HrYHbJVJ5RFOjxmoq4,0.544,0.781,6,-6.160,0,0.0311,0.005850,0.000000,0.1910,0.5270,144.075,221800,4
13505,Powerglide,Rae Sremmurd,1,1BuZAIO8WZpavWVbbq3Lci,0.713,0.831,1,-4.750,0,0.1500,0.016800,0.000000,0.1180,0.5840,173.948,332301,4
13506,IDGAF,Dua Lipa,1,1f7HfxcJ151yN485mZhhWn,0.711,0.551,4,-6.107,0,0.0433,0.319000,0.013300,0.0858,0.0637,97.002,406050,4

In [143]:
songs_with_id.head()

,Title,Artist,Top100,URI,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration,Time_Signature
0,In The End,Linkin Park,0,7KSjlzDJvwAG0utAYE9Vvg,0.476,0.632,9,-6.217,0,0.0376,0.165000,0.337000,0.111,0.132,107.961,184787,4
1,Seven Nation Army,The White Stripes,0,7i6r9KotUPQg3ozKKgEPIN,0.737,0.463,0,-7.828,1,0.0792,0.008170,0.447000,0.255,0.324,123.881,231733,4
2,By The Way,Red Hot Chili Peppers,0,3ZOEytgrvLwQaqXreDs2Jx,0.618,0.938,9,-3.442,1,0.0456,0.017900,0.000000,0.167,0.875,91.455,269000,4
3,Bring Me To Life,Evanescence,0,0COqiPhxzoWICwFCS4eZcp,0.331,0.943,4,-3.188,0,0.0698,0.007210,0.000002,0.242,0.296,94.612,235893,4
4,Last Resort,Papa Roach,0,5W8YXBz9MTIDyrpYaCg2Ky,0.589,0.890,4,-3.719,0,0.0603,0.000481,0.000820,0.201,0.692,90.598,199907,4

In [144]:
songs_with_id.tail()

,Title,Artist,Top100,URI,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration,Time_Signature
13502,Dura,Daddy Yankee,1,6KuqAtoeVzxAYOaMveLNpH,0.783,0.840,1,-3.416,1,0.0510,0.17400,0.0000,0.4120,0.8390,95.001,200480,4
13503,Changes,XXXTentacion,1,7AFASza1mXqntmGtbxXprO,0.669,0.308,11,-10.068,1,0.0290,0.88300,0.0000,0.0984,0.5200,64.934,121887,4
13504,One Number Away,Luke Combs,1,4gB7HrYHbJVJ5RFOjxmoq4,0.544,0.781,6,-6.160,0,0.0311,0.00585,0.0000,0.1910,0.5270,144.075,221800,4
13505,Powerglide,Rae Sremmurd,1,1BuZAIO8WZpavWVbbq3Lci,0.713,0.831,1,-4.750,0,0.1500,0.01680,0.0000,0.1180,0.5840,173.948,332301,4
13506,IDGAF,Dua Lipa,1,1f7HfxcJ151yN485mZhhWn,0.711,0.551,4,-6.107,0,0.0433,0.31900,0.0133,0.0858,0.0637,97.002,406050,4

In [145]:
songs_with_id.to_csv('C:\\Users\\DELL\\Desktop\\minor-project\\data-files\\songs-with-features.csv')